<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shanmuga Industries Arts and Science College</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<div class="header">
<h1>🎓 Shanmuga Industries Arts and Science College</h1>
<p>AI College Information Chatbot</p>
</div>

<div id="chat-box">

<div class="bot-message">
👋 Welcome! Ask me anything about the college.
</div>

</div>

<div class="input-area">

<input
type="text"
id="message"
placeholder="Type your question..."
onkeypress="enterKey(event)"
>

<button onclick="sendMessage()">➤</button>

</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>